/* Header Styling */
header {
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0); /* Black background */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Full-width header */
    z-index: 10; /* Ensures header stays above content */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0); /* Header shadow */
}

h1 {
  font-size: 4em;
  font-family: 'adobe-caslon-pro', serif; /* Adobe Caslon Pro font */
  font-weight: 700; /* Bolder title */
  color: #fff; /* White text for titles */
  text-align: left;
  line-height: 1.1; /* Adjust the value as needed */
  margin-top: 40px; /* Adjust the value as needed */
}

p {
  font-size: 16px; /* Set the paragraph font size */
  line-height: 1.5; /* Adjust the line height for readability */
  color: #666; /* Set the paragraph color */
}

main  {
  max-width: 1500px;
}

.article-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.75); /* Slightly transparent black background */
  border-radius: 3px; /* Rounded corners */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Add shadow */
}

.article-content img {
  width: 300px; /* Adjust the image width as needed */
  margin-bottom: 20px;
}

.article-content p {
  font-size: 25px;
  line-height: 1.5;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  color: #ddd;
  text-align: left;
}
